.experience-wrapper {
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;

	.experience-text {
		color: rgba(243, 243, 243, 0.822);
		font-size: 35px;
	}
	span {
		font-size: 35px;
	}

	.experience-images {
	}
}
