body {
	background: black;
	width: 100vw;
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	box-sizing: 0;
	font-family: "Courier New", Courier, monospace;
}

.next-button {
	position: absolute;
	z-index: 1000000000000000;
	right: 15px;
	bottom: 15px;
	color: rgba(255, 255, 255, 0.808);
	border: 1px solid white;
	background: none;
	width: 100px;
	height: 40px;
	font-size: 25px;
	transition: all 0.3s ease-in;

	&:hover {
		background: rgba(233, 233, 233, 0.884);
		color: rgba(0, 0, 0, 0.863);
	}
}

.footer {
	color: rgba(226, 226, 226, 0.959);
	mix-blend-mode: difference;
	font-size: 20px;
	position: fixed;
	bottom: 1em;
	left: 1em;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
